@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --gray-900: #13131A;
    --gray-800: #16161F;
    --gray-700: #1C1C27;
    --gray-600: #1E1E29;
    --gray-500: #3B3B54;
    --gray-400: #7F7F98;
    --gray-200: #BFBFD4;
    --gray-100: #FAFAFA;
    --white: #FFFFFF;
    --blue-light: #8FB2F5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.mainBox {
    background: var(--gray-900);
    width: 375px;
    height: 812px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
}